# Dependency directories
node_modules/
jspm_packages/

# Production build output
build/
dist/
out/
.next/ # For Next.js projects

# Optional npm cache directory
.npm/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local development and editor files
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Runtime data
pids/
*.pid
*.seed
*.core

# Coverage reports
coverage/

# Misc
.cache/
.eslintcache